In [1]:
import sqlite3
import pandas as pd
import wget
import os
url = 'https://hitchmap.com/dump.sqlite'
filename = 'dump.sqlite'
if os.path.exists(filename):
        os.remove(filename)
filename = wget.download(url)
# Points
points = pd.read_sql('select * from points', sqlite3.connect(filename))

In [2]:
points.head()

,id,lat,lon,rating,country,wait,nickname,comment,datetime,reviewed,banned,ip,dest_lat,dest_lon,signal,ride_datetime,user_id,from_hitchwiki
0,0,40.974714,27.511654,3.0,TR,NaN,Tamergem,"If you avoid the mini busses, you can get on a...",2011-05-26 10:06:17.000000,1,0,,NaN,NaN,None,None,NaN,1.0
1,1,32.072756,34.793444,4.0,IL,NaN,None,None,None,1,0,,NaN,NaN,None,None,NaN,NaN
2,2,41.727928,27.220731,4.0,TR,NaN,None,None,None,1,0,,NaN,NaN,None,None,NaN,NaN
3,3,41.099858,29.007339,3.0,TR,NaN,Xavierallard,There is a lot of traffic there and little spa...,2011-03-15 12:52:11.000000,1,0,,NaN,NaN,None,None,NaN,1.0
4,4,30.169989,66.999612,3.0,PK,NaN,None,None,None,1,0,,NaN,NaN,None,None,NaN,NaN