In [1]:
import sqlite3
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
fn = 'dump.sqlite'
duplicates = pd.read_sql('select * from duplicates', sqlite3.connect(fn))

In [3]:
duplicates

,id,from_lat,from_lon,to_lat,to_lon,accepted,reviewed,ip,datetime
0,1,51.404352,5.538128,51.404547,5.537270,0,0,,2024-06-04 12:50:01.864103
1,2,51.404627,5.542442,51.404547,5.537270,0,0,,2024-06-04 12:50:53.136541
2,3,52.302417,13.019185,52.302168,13.019915,0,0,,2024-06-04 13:28:37.130403
3,4,52.302286,13.019443,52.302168,13.019915,0,0,,2024-06-04 13:29:43.554062
4,5,52.301984,13.020387,52.302168,13.019915,0,0,,2024-06-04 13:30:04.085706
5,6,52.302078,13.020387,52.302168,13.019915,0,0,,2024-06-04 13:30:25.481312
6,7,52.302256,13.020292,52.302168,13.019915,0,0,,2024-06-04 13:30:45.510682
7,8,52.301728,13.017973,52.301472,13.018413,0,0,,2024-06-04 13:31:37.805920
8,9,52.301787,13.017297,52.301472,13.018413,0,0,,2024-06-04 13:35:31.081445
9,10,52.301957,13.017803,52.301472,13.018413,0,0,,2024-06-04 13:35:55.005644
10,11,45.973194,4.732441,45.973277,4.732243,0,0,,2024-06-04 14:17:41.894688
11,12,51.073011,13.667942,51.073075,13.668172,0,0,,2024-06-05 14:50:55.145180
12,13,51.062354,13.575130,51.062497,13.575143,0,0,,2024-06-05 14:51:25.748650
13,14,51.062342,13.574831,51.062497,13.575143,0,0,,2024-06-05 14:51:32.264952
14,15,51.079681,13.739884,51.079746,13.739534,0,0,,2024-06-05 14:52:43.762612
15,16,51.085440,13.691763,51.085624,13.692124,0,0,,2024-06-05 14:53:09.302422